$base: #1e1e2e;
$text: #cdd6f4;
$blue: #89b4fa;
$green: #a6e3a1;
$red: #f38ba8;
$yellow: #f9e2af;
$pink: #f5c2e7;

.widget {
  background-color: $base;
  color: $text;
  border-radius: 12px;
  padding: 10px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.clock { color: $blue; font-size: 18px; font-weight: bold; }
.sys   { color: $green; }
.music { color: $pink; font-weight: bold; }

